.typeit{
    height: 1.75em;
    color: #BBDEFB;
    margin-bottom: 15px;
    width: 100%;
    text-align:center;
    font-weight: 500;
    font-size: 2em;
    font-stretch: 200%;
    font-family: 'VT323', monospace;
    line-height: 0.2em;
  }

  .testcss {
    color: blue;
  }

  